services:
  nextjs:
    build: 
      args:
        - NODE_ENV=production
      context: .
      dockerfile: Dockerfile
    image: marcowich/portfolio:1.0.4
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
      - PORT=8080
      - HOST=0.0.0.0
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_SECURE=false
      - SMTP_USER=marcowich040500@gmail.com
      - SMTP_PASS=avnoqlyrzvvoquqj
      - SMTP_FROM=marcowich040500@gmail.com
      - NOTIFY_EMAIL=marcowich040500@gmail.com
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next